@font-face {
	font-family: 'CaviarDreams';
	src: local('CaviarDreams'), url("../fonts/CaviarDreams.ttf") format('truetype');
}

@font-face {
	font-family: 'Titillium Light';
	src: local('Titillium Light'), url("../fonts/Titillium-Light.otf") format('opentype');
}

@font-face {
	font-family: 'Titillium';
	src: local('Titillium'), url("../fonts/Titillium-Regular.otf") format('opentype');
}

/* Main CSS Starts */

body {
	padding: 0pt;
	margin: 0pt;
	background: url('../images/background.jpg');
	background-attachment: fixed;
}

#title {
	position: fixed;
	bottom: 10pt;
	right: 10pt;
	border-radius: 8pt;
	padding: 10pt;
	font-family: 'CaviarDreams';
	font-size: 27pt;
	color: rgba(88, 88, 88, 0.61);
	text-shadow: 0px 0px 6px rgb(233, 233, 233);
}

/*Tutorial Pane CSS*/

#tutorial {
	color: rgb(30, 30, 30);
	text-align: center;
	font-family: 'Titillium Light';
	position: fixed;
	top: 0pt;
	left: 0pt;
	width: 100%;
	height: 100%;
	z-index: 3;
	background-color: rgba(255, 255, 255, 0.62);
}

#tutorialTitle {
	position: relative;
	top: 20pt;
	font-family: 'Titillium';
	font-size: 50pt;
}

#tutorialGuide {
	width: 50%;
	position: relative;
	top: 50pt;
	right: 30pt;
	float: right;
	font-size: 30pt;
}

#tutorial img {
	position: relative;
	top: 50pt;
	width: 400pt;
	border-radius: 10pt;
	border-style: solid;
	border-width: 4pt;
}

#tutorialButton {
	margin-top: 20pt;
	cursor: crosshair;
	font-size: 40pt;
	padding: 8pt;
	border-radius: 6pt;
	border-style: solid;
	width: auto;
}

#tutorialButton:hover {
	background-color: #25b2b9;
}

/*Level Select CSS*/

#levelSelect {
	overflow: scroll;
	text-align: center;
	padding-top: 20pt;
	margin-left: 10pt;
	position: fixed;
	width: 200pt;
	height: 100%;
	background-color: rgba(99, 99, 99, 0.51);
	box-shadow: 0px 0px 24px;
}

::-webkit-scrollbar{
	width: 0px;
	background-color: transparent;
}

#levelTitle {
	padding-top: 10pt;
	padding-bottom: 10pt;
	font-family: 'Titillium';
	font-size: 30pt;
	background: rgb(92, 196, 196);
	box-shadow: 0px 0px 10px black inset;
	color: rgb(88, 87, 87);
	text-shadow: 0px 0px 10px;
}

.level {
	margin-top: 20pt;
	padding: 10pt;
	background: rgb(92, 196, 196);
	box-shadow: 0px 0px 10px black inset;
}

.level * {
	display: inline;
}

.level img {
	width: 50pt;
	height: 50pt;
	position: relative;
	vertical-align: middle;
	border-style: solid;
	border-color: gray;
	border-width: 2pt;
	border-radius: 8pt;
	box-shadow: 0px 0px 10px;
}

.levelHigh {
	font-family: 'Titillium';
	font-size: 17pt;
	color: rgb(255, 255, 255);
	text-shadow: 0px 0px 5px;
	padding-left: 10pt;
	background: rgb(108, 108, 111);
	padding-top: 5pt;
	padding-bottom: 5pt;
	padding-right: 5pt;
	border-top-right-radius: 5pt;
	border-bottom-right-radius: 5pt;
}

.selected {
	background: rgb(92, 196, 146);
	color: white;
	box-shadow: 0px 0px 30px rgb(92, 196, 146);
}

/*Play CSS*/

#playImage img{
	padding: 0pt;
	border-top-left-radius: 10pt;
	border-top-right-radius: 10pt;
	width: 600px;
	height: 400px;
	position: relative;
}

#play {
	padding: 0pt;
	position: absolute;
	top: 50pt;
	margin-left: 300pt;
	border-style: solid;
	border-radius: 10pt;
	border-color: gray;
	box-shadow: 0px 0px 10px;
}

#playInfo {
	text-align: center;
	font-family: 'Titillium Light';
	font-size: 32pt;
	/* padding: 0pt; */
	color: rgb(53, 52, 52);
	padding-top: 5pt;
	margin-top: -7pt;
	min-height: 50pt;
	background-color: rgba(128, 128, 128, 0.36);
}

#domColorBox {
	height: 20pt;
	background-color: rgb(255, 150, 167);
	border-bottom-left-radius: 10pt;
	border-bottom-right-radius: 10pt;
}